# Secrets 
*.secret
*.env
*-secret.yaml
kubeconfig
.vault-token

# OS 
.DS_Store
Thumbs.db

# Editor 
.idea/
.vscode/
*.swp
*.swo

# For dev branch, delete for staging.
*.sh

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Secrete și Kubeconfig
gcp-kubeconfig.yml
*.json
